torch
torchvision
torchaudio
transformers
tqdm
diffusers
accelerate
textual
matplotlib
dearpygui
huggingface_hub
pytorchvideo
opencv-python
sentencepiece
fairscale
autofaiss
easydict
timm
ftfy
einops
nnAudio==0.3.1

